.pphne { 
  border-bottom-width: 7px;
  line-height: 75px;
  padding-right: 95px;
  padding-right: 28px;
  border-top-width: 92px;
  margin-left: 89px;
  border-left-width: 84px;
  border-top-width: 97px;
  padding-top: 87px;
  border-right-width: 32px;
  border-left-width: 33px;
}
