.pphne { 
  border-bottom-width: 7px;
  line-height: 75px;
  padding-right: 95px;
  padding-right: 28px;
  border-top-width: 92px;
  margin-left: 89px;
  border-left-width: 84px;
  border-top-width: 97px;
  padding-top: 87px;
  border-right-width: 32px;
  border-left-width: 33px;
  margin-top: 86px;
  border-left-width: 30px;
  padding-top: 22px;
  padding-left: 29px;
  padding-right: 56px;
  border-right-width: 96px;
  padding-left: 98px;
  padding-top: 66px;
  border-bottom-width: 9px;
  border-top-width: 49px;
  margin-bottom: 49px;
  line-height: 88px;
  padding-bottom: 82px;
  border-right-width: 75px;
  font-size: 54px;
  padding-right: 30px;
  margin-left: 63px;
  padding-left: 98px;
  border-top-width: 86px;
  margin-left: 81px;
  padding-top: 42px;
  margin-bottom: 19px;
  border-right-width: 88px;
  border-right-width: 84px;
  padding-right: 21px;
  border-top-width: 25px;
  margin-top: 36px;
  border-bottom-width: 23px;
  border-right-width: 78px;
}
